#hero-title{
	font-size: 45px;
	font-weight: 700;
	font-family: 'Overlock', cursive;
}
#n-list{
	font-size: 30px;
	font-weight: 500;
}
.info-c{
	
}
.info-text{
	font-size: 20px;
	font-family: 'Karma', serif;
}
.info-title{
	font-size: 40px;
	font-family: 'Overlock', cursive;
}
